@font-face {    
    font-family: 'ROKAF-M';
    src: url('./source/font/ROKAF_Slab_Serif_Medium.ttf');    
}

@font-face {    
    font-family: 'ROKAF-B';
    src: url('./source/font/ROKAF_Slab_Serif_Bold.ttf');
}

body { background-color: #eeeeee; font-family: 'ROKAF-M';}
.content { width: 100%; display: flex; flex-direction: column; align-items: center;}
.title { margin-top: 2.7rem; }
.title > p { font-size: 2rem; font-family: 'ROKAF-B';}

.board { border : 3px solid #000000; width: 83%; border-radius: 2px; }
.head { border-bottom: 2px solid #000000; background-color: rgb(193, 207, 219); display: flex; justify-content: center; align-items: center;}
.list { display: flex; align-items: center; justify-content: center; }
.board .left { width: 15%; }
.board .right { width: 75%; display: flex; justify-content: space-between; border-bottom: 1px solid #000000;}
.board .right .opt { display: flex; justify-content: center; }
